main {
    flex-grow: 1;
    padding: 20px;
}

main p {
    color: white;
    text-decoration: underline;
}

.inicio {
    margin: 20px auto 0 auto;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

section {
    margin-top: 30px;
    padding: 15px;
    background-color: #1a1a1c;
    border-radius: 8px;
}

section h3 {
    margin-bottom: 10px;
    color: #4CAF50;
}