div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 540px;
    height: auto;
    margin-left: 290px;
    background-color: white;
    color: black;
    border-radius: 10px;
}